<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update engine</title>
</head>
<body>
<form action="#" th:action="@{/engine-update}" th:object="${engine}" method="post">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="model">Model</label>
  <input type="text" th:field="*{model}" id="model" placeholder="Model">
  <br/>
  <input type="submit" value="Update car">
</form>
</body>
</html>