<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gears</title>
</head>
<body>
<div th:switch="${gears}">
    <h2 th:case="null">No gears found!</h2>
    <div th:case="*">
        <h2>Gears</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="gear : ${gears}">
                <td th:text="${gear.id}"></td>
                <td th:text="${gear.model}"></td>
                <td th:text="${gear.type}"></td>
                <td><a th:href="@{gear-update/{id}(id=${gear.id})}">Edit</a></td>
                <td><a th:href="@{gear-delete/{id}(id=${gear.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/gear-create">Create gear</a></p>
</div>
</body>
</html>